In [1]:
#Pandas activation
import pandas as pd

In [2]:
#Import the CSV file
PyBank_file = 'Resources/budget_data.csv'
#read the CSV file
PyBank_df = pd.read_csv(PyBank_file)

PyBank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [18]:
#The total number of months included in the dataset
Month_count = PyBank_df["Date"].count()
Month_count

86

In [19]:
#The total net amount of "Profit/Losses" over the entire period
Net_PL = PyBank_df["Profit/Losses"].sum()
Net_PL

38382578

In [20]:
#The average change in "Profit/Losses" between months over the entire period
PyBank_df['Change PL'] = PyBank_df["Profit/Losses"].diff(periods=1)
PyBank_df.head()
#Average
PLC_Mean = PyBank_df["Change PL"].mean()
PLC_Mean

-2315.1176470588234

In [31]:
#Greatest increase in profits
Max_Profit = PyBank_df["Profit/Losses"].max()
#Max Profit Month
Max_Date = PyBank_df.loc[PyBank_df["Profit/Losses"] == Max_Profit,"Date"]
Max_Date

25    Feb-2012
Name: Date, dtype: object

In [39]:
#Lowest increase in profits
Min_Profit = PyBank_df["Profit/Losses"].min()
#Max Profit Month
Min_Date = PyBank_df.loc[PyBank_df["Profit/Losses"] == Min_Profit,"Date"]
Min_Date

44    Sep-2013
Name: Date, dtype: object

In [40]:
import sys
sys.stdout = open('Financial Analysis.txt','wt')

print("Financial Analysis")
print("-----------------")
print("Total Months: " + str(Month_count))
print("Total: $" + str(Net_PL))
print("Average Change: $" + str(PLC_Mean))
print("Greatest Increase in Profits: " + str(Max_Date) + " ($" + str(Max_Profit) + ")")
print("Greatest Decrease in Profits: " + str(Min_Date) + " ($" + str(Min_Profit) + ")")